.custom-checkbox{
  @include square(1.3rem);
  -webkit-appearance: none;
  border: 1px solid #949494;
  border-radius: 1rem;
  color: white;
  outline: none;

  i{
    display: none;
    margin: 0.2rem;
    font-size: 0.9rem;
  }

  &.checked{
    border-color: transparent;
    background-color: #00c9c5;
    position: relative;
    cursor: pointer;

    i{
      display: block;
    }
  }
}