.custom-checkbox{
  @include square(1.3rem);
  -webkit-appearance: none;
  border: 1px solid #949494;
  border-radius: 1rem;
  color: white;
  outline: none;

  &:checked{
    border-color: transparent;
    background-color: #00c9c5;
    position: relative;
    cursor: pointer;

    &:before{
      @include absolute-top-left(0.2rem, 0.2rem);
      content: "√";
    }
  }
}