html, body {
  @include square;
  margin: 0;
  font-family: Verdana;
  overflow: hidden;
}

a { text-decoration: none; }

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

.leaflet-container{
  height: 100%;
}

#init-loader{
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  height: 100%;
}
#application{
  @include square;
  overflow: auto;
}

//HEADER
.application-header{
  @include flexbox;
  @include align-items(center);
  color: white;
  background-color: $navyblue;
  height: 2.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30000;
  border-bottom: 2px solid #00b6a2;
  box-shadow: 0px 1px 9px -2px black;

  //Toggle menu
  .toggle-menu {
    width: px-to-rem(28px);
    height: px-to-rem(30px);
    cursor: pointer;

    &.on {
      .one {transform: rotate(45deg) translate(5px, 5px);}
      .two {opacity: 0;}
      .three {transform: rotate(-45deg) translate(7px, -8px);}
    }

    div {
      width: 100%;
      height: 5px;
      background: white;
      margin: 4px auto;
      transition: all 0.3s;
      backface-visibility: hidden;
    }
  }

  .logo{
    background: image-url('logo.png') no-repeat center;
    width: 13rem;
    height: 2.5rem;
    background-size: contain;
  }

  .search-bar-button, .search-button {
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
  }

  .search-bar-button{
    right: 3rem;
  }

  .search-button{
    right: 6rem;
  }
}

//MENU
#application-menu{
  $menu-width: 20rem;
  position: fixed;
  left: 0;
  top: $application-header-height;
  transform: translateX(-$menu-width);
  transition: transform 0.06s;
  will-change: transform;
  background-color: $gray;
  color: white;
  width: $menu-width;
  height: 100%;
  z-index: 100;
  @mixin item-background(){
    transition: background-color 0.3s;
    &:hover { background-color: $navyblue; }
  }

  .menu-item{
    @include item-background;
    cursor: pointer;
    padding: 1rem;
    height: 1.2rem;
    i { margin-right: 0.3rem; }
  }
  .sub-section{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;

    &.visible{
      height: 100%;
    }
    li {
      @include item-background;
      cursor: pointer;
      padding: 0.2rem 2rem;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

//Content
.application-content{
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin-top: $application-header-height;
}

#application-overlay {
  background-color: rgba(black, 0.35);
  position: fixed;
  left: 0;
  top: $application-header-height;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  will-change: opacity;
}
