html, body {
  @include square;
  margin: 0;
  font-family: Verdana;
  overflow: hidden;
}
a{text-decoration: none;}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}

#init-loader{
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  height: 100%;
}
#application{
  @include square;
  overflow: auto;
}

//HEADER
.application-header{
  @include flexbox;
  @include align-items(center);
  color: white;
  background-color: $navyblue;
  height: 2.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 2px solid #00b6a2;
  box-shadow: 0px 1px 9px -2px black;

  //Toggle menu
  .toggle-menu {
    width: px-to-rem(28px);
    height: px-to-rem(30px);
    cursor: pointer;

    &.on {
      .one {transform: rotate(45deg) translate(5px, 5px);}
      .two {opacity: 0;}
      .three {transform: rotate(-45deg) translate(7px, -8px);}
    }

    div {
      width: 100%;
      height: 5px;
      background: white;
      margin: 4px auto;
      transition: all 0.3s;
      backface-visibility: hidden;
    }
  }

  .logo{
    background: image-url('logo.png') no-repeat center;
    width: 13rem;
    height: 2.5rem;
    background-size: contain;
  }

  .search-products{
    @include absolute-top-right(1.3rem, 1rem);
    cursor: pointer;
  }
}

//MENU
.application-menu{
  $menu-width: 20rem;
  @include square;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: $application-header-height;

  &.visible{
    pointer-events: auto;
    opacity: 1;
    .menu-content{
      left: 0;
    }
  }

  .menu-content{
    @mixin item-background(){
      transition: background-color 0.3s;
      &:hover{
        background-color: $navyblue;
      }
    }
    @include absolute-top-left(0, -$menu-width);
    transition: left 0.5s;
    background-color: $gray;
    height: 100%;
    width: $menu-width;
    color: white;

    .menu-item{
      @include item-background;
      cursor: pointer;
      padding: 1rem;
      height: 1.2rem;

      i{
        margin-right: 0.3rem;
      }
    }
    .sub-section{
      height: 0;
      overflow: hidden;
      transition: height 0.5s;

      &.visible{
        height: 12rem;
      }
      li{
        @include item-background;
        cursor: pointer;
        padding: 0.2rem 2rem;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

  }
  .overlay{
    @include square;
    background-color: rgba(black, 0.3);
  }
}

//Content
.application-content{
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin-top: $application-header-height;
}
