#products{
  text-align: center;
  background-color: #efefef;

  .filter-legend{
    background-color: white;
    border-bottom: 1px solid #e0e0e2;
    text-align: center;
    padding: 1rem;
    color: #545454;
    position: fixed;
    top: $application-header-height;
    width: 100%;
    left: 0;
    z-index: 1;

    i{
      transition: all 0.3s;
      float: right;
      font-size: 1.2rem;
      margin-right: 2rem;
      cursor: pointer;
      color: #353535;

      &:hover{
        transform: scale(1.5);
      }
    }
  }

  #container{
    margin-top: 3.2rem;
  }

  .product{
    width: 10rem;
    display: inline-block;
    border: 1px solid #e6e6e7;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin: 0.5rem;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.5s;

    &:hover{
      box-shadow: 1px 1px 12px 0px black;
    }
    .product-image{
      background: no-repeat center;
      width: 100%;
      height: 14rem;
    }
    footer{
      border-top: 1px solid #e6e6e7;
      border-bottom: 2px solid #c6cbcb;
      padding: 0.3rem;

      .title{
        color: #646464;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price{
        color: #71b9ca;
      }
    }
  }
}