<div class="product-carrousel">
  {{{view.sliderHTML}}}
  <div class="user-info">
    <div class="user-img"></div>
    <div class="user-name">anamaria t.</div>
  </div>
</div>
<div class="product-info-wrapper">
  <div class="product-info block">
    <header>
      <div class="title">Chaqueta Cortefiel</div>
      <div class="price">25€</div>
    </header>
    <div class="description">Chaqueta marron chocolate cortefiel sin uso talla 44-46 justa</div>
  </div>
  <div class="product-location block">
    TODO: Include Google map with the product coordinates
  </div>
</div>