<div class="product-carrousel">
  {{{view.sliderHTML}}}
  <div class="user-info"></div>
</div>
<div class="product-info">
  <header>
    <div class="title"></div>
    <div class="price"></div>
  </header>
  <div class="description"></div>
</div>