<li class="collection" style="background-image: url({{unbound collection.listImage}});">
  {{#link-to "collections.show" collection.id class="collection-wrapper"}}
    <div class="title">{{collection.title}}</div>
    <div class="item-count">{{collection.numItems}} products</div>
  {{/link-to}}
</li>