<li class="collection" style="background-image: url({{unbound collection.listImage}});">
  <div class="title">{{collection.title}}</div>
  <div class="item-count">{{collection.numItems}} products</div>
</li>