<header class="application-header">
  <div class="toggle-menu {{if view.showMenu "on"}}" {{action "toggleMenu" target="view"}}>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  {{#link-to "products"}}
    <div class="logo"></div>
  {{/link-to}}
  <div class="right-elements">
    {{#if view.showFilters}}
      <i class="fa fa-check search-button" {{action "filterProducts" target="view"}}></i>
    {{/if}}
    <i class="fa fa-search search-bar-button" {{action "toggleSearchFilters" target="view"}}></i>
  </div>
</header>
