<header class="application-header">
  <div {{bind-attr class=":toggle-menu view.showMenu:on"}} {{action "toggleMenu" target="view"}}>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  {{#link-to "products"}}
    <div class="logo"></div>
  {{/link-to}}
  <i class="fa fa-search search-products" {{action "toggleSearchFilters" target="view"}}></i>
</header>
