<div id="container">
  {{#each product in this}}
    <div class="item product">
      <div class="product-image" style="background-image: url({{unbound product.smallImage}})"></div>
      <footer>
        {{#link-to 'products.show' product.id}}
          <div class="title">{{product.title}}</div>
          <div class="price">{{product.salePrice}} €</div>
        {{/link-to}}
      </footer>
    </div>
  {{/each}}
</div>
<div class="loader-wrapper">
  {{!-- {{#if loadingMore}} --}}
    <span class="ouro ouro3">
      <span class="left"><span class="anim"></span></span>
      <span class="right"><span class="anim"></span></span>
    </span>
  {{!-- {{/if}} --}}
</div>
